* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(220, 15%, 55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 8rem;
  width: 16rem;
  height: 25rem;
}

.container img {
  width: 14rem;
  border-radius: 8px;
  display: block;
  height: 15rem;
  padding-top: -1;
}

.container h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-top: 15px;
  padding-left: 18px;
  justify-content: center;
}

.container p {
  font-family: "Outfit", sans-serif;
  font-size: 13px;
  padding-left: 7px;
  font-weight: 400;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.attribution {
  position: absolute;
  bottom: 5px;
  font-size: 15px;
}
